{
    "mcpServers": {
        "atlassian": {
            "type": "sse",
            "url": "https://mcp.atlassian.com/v1/sse"
        },
        "stripe": {
            "type": "http",
            "url": "https://mcp.stripe.com"
        },
        "github": {
            "type": "http",
            "url": "https://api.githubcopilot.com/mcp/"
        },
        "playwright": {
            "type": "stdio",
            "command": "npx",
            "args": [
                "@playwright/mcp@latest"
            ],
            "env": {}
        },
        "context7": {
            "type": "stdio",
            "command": "npx",
            "args": [
                "-y",
                "@upstash/context7-mcp",
                "--api-key",
                "{{ onepasswordRead "op://Private/Context7/credential" }}"
            ]
        }
    }
}
